
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .dark {
    --background: 226 25% 10%; /* #1a1b26 */
    --foreground: 222 45% 76%; /* #a9b1d6 */

    --card: 225 20% 19%; /* #24283b */
    --card-foreground: 222 45% 76%; /* #a9b1d6 */

    --popover: 225 20% 19%; /* #24283b */
    --popover-foreground: 222 45% 76%; /* #a9b1d6 */

    --primary: 220 90% 73%; /* #7aa2f7 */
    --primary-foreground: 226 25% 10%; /* #1a1b26 */

    --secondary: 226 55% 85%; /* #c0caf5 */
    --secondary-foreground: 225 20% 19%; /* #24283b */

    --muted: 223 23% 43%; /* #565f89 */
    --muted-foreground: 226 55% 85%; /* #c0caf5 */

    --accent: 140 50% 64%; /* #9ece6a */
    --accent-foreground: 226 25% 10%; /* #1a1b26 */

    --destructive: 351 90% 70%; /* #f7768e */
    --destructive-foreground: 226 25% 10%; /* #1a1b26 */

    --border: 224 20% 33%; /* #414868 */
    --input: 224 20% 33%; /* #414868 */
    --ring: 220 90% 73%; /* #7aa2f7 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
